<!DOCTYPE>
<html>
    <head>
        <meta charset="utf8">
        <title>Timestamp Microservice</title>
    </head>
    <body>
        <div class="wrapper">
            <h1>Timestamp Microservice</h1>
            <p><%= querySearch.searchTerm %></p>
        </div>
    </body>
</html>